<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%#= link_to 'My Book', root_path, class: "navbar-brand" %>
    <span>
      <%= link_to ("<i class='fa fa-rocket'></i> " +'My Book').html_safe, root_path, class: "navbar-brand" %>                                                                          
    </span>
    <% if current_user %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav col-md-6">
          <li><%= link_to "Edit Profile", edit_registration_path(current_user)  %></li>
          <li><%= link_to "Friends", my_friends_path  %></li>
          <li><%= link_to "Stocks", my_portfolio_path  %></li>
        </ul>
        <ul class="nav navbar-right col-md-4">
          <li class="col-md-8 user-name">
            <i class="fa fa-user"></i>
            <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
          </li>
          <li class="logout pull-right">
            <%= link_to('Log Out', destroy_user_session_path, class: 'btn btn-logout', method: :delete) %>
          </li>
        </ul>
      </div>
    <% else %>
      <li class="login pull-right">
        <%= link_to('Log In', new_user_session_path, class: 'btn btn-login', title: 'Log In') %>
      </li>
    <% end %>
  </div>
</div>